<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
</head>
<body style="width: 1000px; margin: auto;">
{% block nav %}
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}

    <nav class="navbar navbar-default" style="margin: 50px 0;">
        <div class="container-fluid">
            <div class="navbar-header">
            <a class="navbar-brand" href="/">Framework 1</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="/">Index</a></li>
                    <li><a href="/contact/">Contact</a></li>
                    {% if not user.is_authenticated %}
                        <li><a href="/signup/">Sign up</a></li>
                        <li><a href="/signin/">Sign in</a></li>
                    {% else %}
                        {% if user.is_staff %}
                            <li><a href="/admin/user/">Admin</a></li>
                            <li><a href="/djangoadmin/auth/user/">Django Admin</a></li>
                        {% endif %}
                        <li><a href="/signout/">Sign out (<b>{{ user }}</b>)</a></li>
                    {% endif %}
                </ul>
            </div>
      </div>
    </nav>

{% endblock %}
   <section id="content" style="margin: 0 50px;">
       {% block content %}{% endblock %}
   </section>
</body>
</html>