{% extends "base.html" %}
{% load bootstrap3 %}
{% load django_bootstrap_breadcrumbs %}
{% load i18n %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb category.name "/forum/"|add:category.slug %}
    {% breadcrumb childcategory.name "/forum/"|add:category.slug|add:"/"|add:childcategory.slug %}
{% endblock %}

{% block content %}
    {{ block.super }}

    <ul class="list-group">
    {% for post in posts reversed %}
        <li class="list-group-item"><a href="{{ post.id }}">{{ post }}</a></li>
    {% endfor %}
    </ul>

    {% if user.is_authenticated %}<a href="new/" class="btn btn-primary">{% trans "New thread" %}</a>{% endif %}

{% endblock %}